@inject SessionManager s;
<!doctype html>
<html lang="en-US">
<head>
    <meta name="author" content="Tanner Ghosen">
    <meta name="description" content="The website of Tanner Ghosen.">
    <meta name="keywords" content="Web Developer, Full-Stack Developer, Tanner, Tanner Ghosen, Ghosen, Buffalo New York, Buffalo, New York">
    <meta name="og:title" content="Tanner Ghosen's Website">
    <meta name="og:description" content="The website of Tanner Ghosen.">
    <meta name="og:type" content="website">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tanner Ghosen's Website</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body id="body">
    <div class="flexcontainer">
        <div class="linkcontainer">
            <a href="javascript:;" class="icon" id="linksthebutton" onclick="NavbarToggle()">
                Links
            </a>
            <div id="links">
                <a asp-page="/Index">Home</a>
                <a asp-page="/Blog" asp-route-post="@SQL.Blog.GetBlogPostCount()">Blog</a>
                <a href="https://github.com/tannerghosen">GitHub</a>
                <a href="javascript:;" id="lightswitch"><span id="lightbulb">💡</span> Toggle Light/Dark Mode</a>
                @{
                    if (!s.IsUserLoggedIn())
                    {
                        <a style="float: right;" asp-page="/Login">Login</a>
                        <a style="float: right;" asp-page="/Register">Register</a>
                    }
                }
                @{
                    if (s.IsUserLoggedIn())
                    {
                        <a style="float: right;" asp-page="/Settings">Settings</a> <a style="float: right;" asp-page="/Logout">Logout</a> <b style="float: right;">Hello, @this.ViewContext.HttpContext.Session.GetString("Username")!</b>
                    }
                }
            </div>
        </div>
        <div class="statuscontainer" style="text-align: center;" id="status"></div>
        <div class="headercontainer">
        </div>
        <div class="container">
            <div class="appcontainer">
                <div id="app">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js"></script>
    <script>
        const websocket = new WebSocket("ws://@JavaScriptHelper.GetDomainName():5000/");

                websocket.onopen = () =>
                {
                    console.log("Connected!");
                };

                //  On Message Received from WebSocket server
                websocket.onmessage = (event) =>
                {
                    const status = document.getElementById("status");
                    status.innerHTML = `<p>${event.data}</p>`;
                };

                websocket.onclose = () =>
                {
                    console.log("Disconnected");
                };
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>