<!doctype html>
<html lang="en-US">
<head>
    <meta name="author" content="Tanner Ghosen">
    <meta name="description" content="The website of Tanner Ghosen.">
    <meta name="keywords" content="Web Developer, Full-Stack Developer, Tanner, Tanner Ghosen, Ghosen, Buffalo New York, Buffalo, New York">
    <meta name="og:title" content="Tanner Ghosen's Website">
    <meta name="og:description" content="The website of Tanner Ghosen.">
    <meta name="og:type" content="website">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tanner Ghosen's Website</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body id="body">
    <div class="flexcontainer">
        <div class="linkcontainer">
            <a href="javascript:;" class="icon" onclick="NavbarToggle()">
                Links
            </a>
            <div id="links">
                <a asp-area="" asp-page="/Index">Home</a>
                <a asp-area="" asp-page="/Sandbox">Sandbox</a>
                <a asp-area="" asp-page="/Login">Login</a>
                <a asp-area="" asp-page="/Register">Register</a>
                <a asp-area="" asp-page="/Comments">Comments</a>
                <a href="https://github.com/tannerghosen">GitHub</a>
                <a href="javascript:;" id="lightswitch"><span id="lightbulb">💡</span> Toggle Light/Dark Mode</a>
                @{
                    if (this.ViewContext.HttpContext.Session.GetInt32("IsLoggedIn") == 1)
                    {
                        <a style="float: right;" asp-page="/Settings">Settings</a> <a style="float: right;" asp-page="/Logout">Logout</a> <b style="float: right;">Hello, @this.ViewContext.HttpContext.Session.GetString("Username")!</b>
                    }
                }
            </div>
        </div>
        <div class="headercontainer">
        </div>
        <div class="container">
            <div class="appcontainer">
                <div id="app">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div hidden id="buttoncontainer"><div id="backbutton">Back</div><div style="float: left; padding-right: 10px;"></div><div id="nextbutton">Next</div></div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>