@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
$font: Consolas;
$psfont: "Press Start 2P";
$white: #FFF;
$lightwhite: #EEE;
$lightergray: #DDD;
$lightgray: #CCC;
$darkgray: #333;
$darkergray: #222;
$almostblack: #111;
$black: #000;