@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/* to-do: clean up the stylesheet a bit */
body {
  font: normal 110% "Consolas";
  margin: 0;
}

html, body {
  height: 100%;
  background: #000;
  color: #FFF;
  transition: background-color 0.5s ease;
}

.container {
  /* flexbox */
  height: 75vh; /* screen height */
  max-height: 75vh;
  min-width: 60%;
  display: flex;
  flex-direction: column; /* display as a column */
  align-items: center; /* align content in center vertically */
  justify-content: center; /* align content in center horizontally */
  position: relative;
  bottom: 2.5%;
  overflow: hidden;
}

.flexcontainer {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}

h1 {
  font: 400 175% "Press Start 2P" !important; 
  margin: 0;
}

.container h2 {
  font: 400 125% "Press Start 2P" !important;
  margin: 0;
  grid-column: span 2;
}

a {
  text-decoration: none;
  color: #CCC;
  transition: all 0.2s ease-out;
}

a:hover {
  color: #EEE;
}

.headercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.header {
  visibility: hidden;
  transition: all 0.2s ease-out;
  /*animation: slidein 0.8s ease-in;*/ /*forwards, bounce 0.8s linear 0.8s;*/
  /* remove ease-in and keep the following for multiple anims: forwards, 
  	anotheranim 3s linear 1s */
  text-align: center;
  /*animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);*/
}

img {
  width: 43.75vw;
  height: 50vh;
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 5px;
}

/*ul 
{
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	overflow: visible;
}

li 
{
	display: inline;
}*/
.submit 
{
    background-color: #000;
    color: #FFF;
    border: 2px solid #FFF;
    border-radius: 5px;
    font-weight: 700;
}
.submit:hover
{
    background-color: #333;
}

.commentsection {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: auto;
    max-width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
}

textarea 
{
    width: 75%;
}

/* Light Mode / Dark Mode */
#lightswitch {
    color: transparent;
    cursor: pointer;
    user-select: none;
    text-shadow: 0 0 0 #DDD;
    -webkit-user-select: none;
}

.lightmode {
  background: #FFF;
  color: #000;
  transition: background-color 0.5s ease;
}

.lightmode a {
  color: #333;
}

.lightmode a:hover {
  color: #111;
}

.lightmode .linkcontainer {
  background: #EEE;
}

.lightmode #lightswitch {
  text-shadow: 0 0 0 #333;
}

.lightmode img {
  border: 1px solid #222;
  border-radius: 4px;
  padding: 5px;
}

.lightmode .submit 
{
    background-color: #FFF;
    color: #000;
    border: 2px solid #000;
    border-radius: 5px;
    font-weight: 700;
}

.lightmode .submit:hover
{
    background-color: #CCC;
}
/* Slideshow */
#backbutton, #nextbutton {
  cursor: pointer;
  user-select: none;
  color: #CCC;
  -webkit-user-select: none;
}

#backbutton {
  float: left;
}

#nextbutton {
  float: right;
}

#backbutton:hover, #nextbutton:hover {
  color: #EEE;
}

.lightmode #backbutton, .lightmode #nextbutton {
  color: #333;
}

.lightmode #backbutton:hover, .lightmode #nextbutton:hover {
  color: #111;
}

#buttoncontainer {
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, 0%);
  margin: 0 auto;
  padding: 30px;
}

.notransition {
  transition: none !important;
}

/* Misc */
.project {
  height: 200px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

#simage {
  height: 10vh;
  width: 10vh;
}

.fade {
  animation: fade 0.5s linear;
}

/* Accessibility */
.accesstext {
  font-family: sans-serif, Arial, Helvetica;
}

/* Navbar */
.linkcontainer {
  overflow: hidden;
  background-color: #111;
  position: relative;
}

.linkcontainer #links {
  display: none;
}

.linkcontainer a {
  float: left;
  padding: 0px 10px;
}

.linkcontainer #lightbulb {
  font-size: 60%;
}

/* Responsive */
/* Moved to mobile.css */
/* Anims */
@keyframes slidein {
  0% {
    transform: translate(0%, -900%);
  }
  50% {
    transform: translate(0%, -50%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translate(0, 0);
  }
  10%, 90% {
    transform: translate(0, -5px);
  }
  20%, 80% {
    transform: translate(0, -15px);
  }
  30%, 70% {
    transform: translate(0, -20px);
  }
  40%, 60% {
    transform: translate(0, -25px);
  }
  50% {
    transform: translate(0, -30px);
  }
}
@keyframes fade {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */

#app 
{
    text-align: center;
}
