@page
@using static Microsoft.AspNetCore.Mvc.RazorPages.PageBase;
@using System.Text.RegularExpressions;
@model AdminModel
@{
    ViewData["Title"] = "Admin Page";
}

<h1>@ViewData["Title"]</h1>

<b>TODO</b>
<!-- todo: we want to display the entire admin table -->
<table>
    <thead><tr><td>User ID</td><td>Username</td><td>Email</td><td>Are they Admin?</td></tr></thead>
    <tbody>
        <!-- will look like below: -->
        <!--<tr><td>0</td><td>Dummy</td><td>dummy@gmail.com</td><td>true</td></tr>-->
        <!-- for loop to display sql table -->
    </tbody>
</table>