@page
@using static Microsoft.AspNetCore.Mvc.RazorPages.PageBase;
@using System.Text.RegularExpressions;
@model AdminModel
@{
    ViewData["Title"] = "Admin Page";
}

<h1>@ViewData["Title"]</h1>

<b>TODO</b>