@page
@using static Microsoft.AspNetCore.Mvc.RazorPages.PageBase;
@using System.Text.RegularExpressions;
@model BanUserModel
@{
    ViewData["Title"] = "Ban " + SQL.Accounts.GetUsername(Model.Id);
}

@{
        <h1>@ViewData["Title"]</h1>
        <form method="post">
            <fieldset>
                <div>
                    <label for="reason">Reason:</label>
                    <input type="text" name="reason" asp-for="Reason" value="" id="reason" class="text-black" placeholder="You are banned." />
                </div>
                <div>
                    <label for="ExpirationDate">Expires:</label>
                    <input type="datetime-local" name="ExpirationDate" asp-for="ExpirationDate" value="" id="expire" placeholder="" class="text-black" />
                </div>
            <input type="hidden" name="Id" value="@Model.Id" />
                <div>
                    <label>&nbsp;</label>
                    <input type="submit" value="Submit" class="submit" />
                </div>
            </fieldset>
        </form>

        <a href="/Admin">Admin Page</a>
}
@{
    var message = TempData["Result"] as string;
}

@if (!string.IsNullOrEmpty(message))
{
    <script>
        alert('@message');
    </script>
    <script>
        setTimeout(function ()
        {
            window.location.href = '@Url.Page("Admin")';
        }, 0);
    </script>
}