@page
@model FunWebsiteThing.Pages.BlogPostModel
@{
    ViewData["Title"] = "Create Blog Post";
}
    <h1>@ViewData["Title"]</h1>
    <form method="post">
        <fieldset>
            <textarea style="margin: auto; color: #111" rows="1" col="200" asp-for="Title"></textarea>
            <textarea style="margin: auto; color: #111" rows="5" col="200" asp-for="Message"></textarea>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>
        </fieldset>
    </form>
    <form method="post" asp-page-handler="Delete">
        <textarea style="margin: auto; color: #111" rows="1" col="200" asp-for="BlogPostId"></textarea>
        <button type="submit">Delete</button>
    </form>
