@page
@model FunWebsiteThing.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}
@if (Model.Id != null)
{
    <h1>
        @ViewData["Title"]
    </h1>
    <form method="post">
        <fieldset>
            <div>
                <label for="password">Password:</label>
                <input type="text" name="password" asp-for="Password" value="" id="pass" class="text-black" />
            </div>
            <input type="hidden" name="Id" value="@Model.Id" />
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>
        </fieldset>
    </form>
}
else
{
<h1>Nothing here!</h1>
<p>Nothing at all! Nothing at all!</p>
}

