@page
@model FunWebsiteThing.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1>@ViewData["Title"]</h1>
<p>An error has occured. If possible, details of the error are listed below. If you keep seeing this page, please contact us at: </p>
<p>@Model.ErrorMessage</p>