@page
@model FunWebsiteThing.Pages.ForgetPasswordModel
@{
    ViewData["Title"] = "Password Reset";
}
<h1>@ViewData["Title"]</h1>
<form method="post">
    <fieldset>
        <div>
            <label for="username">Username / Email:</label>
            <input type="text" name="username" asp-for="Username" value="" id="username" class="text-black" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>
@{
    var message = TempData["Result"] as string;
}

@if (!string.IsNullOrEmpty(message))
{
    <script>
        alert('@message');
    </script>
}