@page
@model FunWebsiteThing.Pages.HandleGoogleLoginModel
<!DOCTYPE html>
<html>
<head>
    <title>Google Sign-In</title>
</head>
<body>
    <h1>Processing Google Sign-In...</h1>
    <P>(If you didn't get here from a Google Sign, press back!)</P>
</body>
</html>