@page
@using static Microsoft.AspNetCore.Mvc.RazorPages.PageBase;
@using System.Text.RegularExpressions;
@model LoginModel
@{
    #pragma warning disable CS8602
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>

<!-- Login Form -->
    <form method="post">
        <fieldset>
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" asp-for="Username" value="" id="username" class="text-black" />
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="text" name="password" asp-for="Password" value="" id="pass" class="text-black" />
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>
        </fieldset>
    <a href="/ForgetPassword">Forgot Password?</a>
    </form>
    <div style="display: flex; align-items: center">
    <form method="post" asp-page-handler="GoogleLogin">
        <button class="" type="submit" style="border: solid; border-width: 1px; border-radius: 3px; margin: auto;">
            <div style="display: flex; align-items: center;">
                <img style="margin-bottom:3px; margin-right:5px; width: 30px; height: 30px; border: none;" alt="Google sign-in" src="/misc/img/google-logo.png" />
                <span>Sign in with Google</span>
            </div>
        </button>
    </form>
    </div>
@{
    var message = TempData["Result"] as string;
}

@if (!string.IsNullOrEmpty(message))
{
    <script>
        alert('@message');
    </script>
}

@if (TempData["Result"] != null && TempData["Result"].ToString().Contains("Login successful. Logged in as: "))
{
    <script>
        setTimeout(function () 
        {
            window.location.href = '@Url.Page("Index")';
        }, 0);
    </script>
}