@page
@using static Microsoft.AspNetCore.Mvc.RazorPages.PageBase;
@using System.Text.RegularExpressions;
@inject SQLStuff s;
@model LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<h1>@ViewData["Title"]</h1>

@{
    Console.WriteLine(HttpContext.Session.GetString("Username") + " " + HttpContext.Session.GetInt32("IsLoggedIn"));
    string user = HttpContext.Session.GetString("Username");
    int? status = HttpContext.Session.GetInt32("IsLoggedIn");
    if (HttpContext.Session.GetInt32("IsLoggedIn") == 1)
    {
        <p>You're currently logged in as "@user".</p>
    }
    else
    {
        <p>You're not currently logged in.</p>
    }
}
<!-- Login Form -->
@{
    if(HttpContext.Session.GetInt32("IsLoggedIn") == 1)
    {
        <form method="post">
            <fieldset>
                <legend>Logout</legend>
                <div>
                    <label>&nbsp;</label>
                    <input type="submit" value="Logout" class="submit" />
                </div>
            </fieldset>
        </form>
    }
}
@{
    // This is how we handle logout
    if (HttpMethods.IsPost(Request.Method)) // if POST
    {
        if (HttpContext.Session.GetInt32("IsLoggedIn") == 1) 
        {
            HttpContext.Session.SetString("Username", "");
            HttpContext.Session.SetInt32("IsLoggedIn", 0);
            Response.Redirect("/Logout");
            Console.WriteLine(HttpContext.Session.GetString("Username") + " " + HttpContext.Session.GetInt32("IsLoggedIn"));
        }
    }
}