@page
@using static Microsoft.AspNetCore.Mvc.RazorPages.PageBase;
@using System.Text.RegularExpressions;
@inject SQLStuff s
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<!-- Registration Form -->
<form method="post">
    <fieldset>
        <legend>Register</legend>
        <div>
            <label for="username">Email:</label>
            <input type="text" name="email" asp-for="Email" value="" />
        </div>
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" asp-for="Username" value="" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="text" name="password" asp-for="Password" value="" id="pass" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>
<script>
    function GeneratePass() 
    {
        $.ajax({
            type: "GET",
            url: "api/Misc/GeneratePassword", // this is the path to get the GeneratePassword function from MiscController. (think of it like API -> ClassName -> MethodName (if included in the controller))
            success: function (data) 
            {
                document.getElementById("pass").value = data.password; // get the password from our MiscController
            }
        });
    }
</script>
<button onclick="GeneratePass()">Generate Pass</button>