@page
@model FunWebsiteThing.Pages.StatusModel
@{
}
@{
    ViewData["Title"] = "Update Notification Banner";
}

<h1>@ViewData["Title"]</h1>
<p>Use "clear" to clear the banner. These only persist until the program is killed.</p>
<input type="text" id="input" class="text-black" placeholder="Type a message..." />
<button id="send">Send</button>
<div id="messages"></div>
@{
    string Password = WebSocketServer.GetAccessPassword();
}
<script>
            const websocket = new WebSocket("ws://@Globals.DomainName:5000/");

            websocket.onopen = () =>
            {
                console.log("Connected!");
            };

            //  On Message Received from WebSocket server
            websocket.onmessage = (event) =>
            {
                const messages = document.getElementById("messages");
                console.log(event.data);
                messages.innerHTML = `<p>Current Notification Banner: ${event.data}</p>`;
            };

            websocket.onclose = () =>
            {
                console.log("Disconnected");
            };

            document.getElementById("send").onclick = () =>
            {
                const input = document.getElementById("input");
                if (input.value)
                {
                    websocket.send(input.value + " " + "@Password");
                    input.value = '';
                }
            };
</script>