@page
@using static Microsoft.AspNetCore.Mvc.RazorPages.PageBase;
@using System.Text.RegularExpressions;
@model UpdateModel
@{
    ViewData["Title"] = "Updating " + SQL.Accounts.GetUsername(Model.Id);
}

@{
        <h1>@ViewData["Title"]</h1>
        <form method="post">
            <fieldset>
                <div>
                    <label for="email">Email:</label>
                    <input type="text" name="email" asp-for="Email" value="" id="email" class="text-black" placeholder="you@example.com" />
                </div>
                <div>
                    <label for="username">Username:</label>
                    <input type="text" name="username" asp-for="Username" value="" id="username" class="text-black" placeholder="you" />
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="text" name="password" asp-for="Password" value="" id="pass" class="text-black" />
                </div>
                <input type="hidden" name="Id" value="@Model.Id" />
                <div>
                    <label>&nbsp;</label>
                    <input type="submit" value="Submit" class="submit" />
                </div>
            </fieldset>
        </form>

        <a href="/Admin">Admin Page</a>
    }
}
@{
    var message = TempData["Result"] as string;
}

@if (!string.IsNullOrEmpty(message))
{
    <script>
        alert('@message');
    </script>
}